
FlickrCS193p.xcodeproj/project.xcworkspace/contents.xcworkspacedata

FlickrCS193p.xcodeproj/project.xcworkspace/xcuserdata/grimax.xcuserdatad/UserInterfaceState.xcuserstate

FlickrCS193p.xcodeproj/xcuserdata/grimax.xcuserdatad/xcschemes/FlickrCS193p.xcscheme

FlickrCS193p.xcodeproj/xcuserdata/grimax.xcuserdatad/xcschemes/xcschememanagement.plist
